profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process {
            executor = 'slurm'
            withName: 'FASTQC' {
                module = 'fastqc/0.11.9'
            }
            withName: 'MULTIQC' {
                module = 'multiqc/1.9'
            }
        }
    }
}