profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process {
            executor = 'slurm'
            withName: 'FASTQC' {
                module = 'fastqc/0.11.9'
            }
            withName: 'MULTIQC' {
                module = 'multiqc/1.9'
            }
            withName: 'TRIMMING' {
                module = 'python-gcc7/3.6.8:cutadapt-gcc/2.5:pigz-gcc/2.3.3'
            }
        }
    }
}